.container {
  background: #f0d60a;
  align-items: center;
  width: 400px;
}

.navbar {
  background: #f0d60a; /*transparent*/
  width: 700px;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9;
}

.logo {
  font-weight: 1000;
  font-family: "Londrina Shadow", cursive;
  font-size: 50px;
  display: inline;
}

.navbar ul {
  float: right;
  text-align: right;
  list-style: none;
  padding: 10px;
  display: inline;
}

.navbar li {
  display: inline;
  font-family: 'Permanent Marker', Serif;
  padding-left: 16px;
  font-size:15px;
}

body {
  margin: 0px auto;
  background: #f0d60a;
  padding-top: 15px;
  width: 700px;
}

.about-description {
      font-size: 12px;
      background: #f0d60a;
      margin: 0;
      color: #2b2b2b;
      }

.txt {
  padding: 70px 55px 8px 14px;
  background: #f0d60a;
  }
