body {
  margin: 0 auto;
  max-width: 50em;
  padding-top: 70px;
  /*background: #f0d60a;*/
}

.jumbotron {
  background-size: cover;
  background-attachment: fixed;
  background: #f0d60a;
}

.navbar {
  background: transparent;
  position: sticky;
  width: 100%;
}

.logo {
  font-weight: 100;
  size: 200px;
  font-family: "Londrina Shadow", cursive;
  display: inline;
}

.navbar ul {
  float: right;
  text-align: right;
  list-style: none;
  padding: 10px;
  display: inline;
}

.navbar li {
  display: inline;
  font-family: 'Permanent Marker', Serif;
  padding-left: 16px;
  font-size:15px;
}

/*lin copied css code*/
